// fonts
$font-family-antonio:           				AntonioRegular, "Helvetica Neue", Arial, sans-serif !default;
$font-family-antonio-bold:      				AntonioBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-antonio-light:     				AntonioLight, "Helvetica Neue", Arial, sans-serif !default;
$font-family-high-tide:     					HighTide, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto:      						RobotoRegular, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-black:      				RobotoBlack, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-black-italic:      			RobotoBlackItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-bold:      					RobotoBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-bold-condensed:      		RobotoBoldCondensed, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-bold-condensed-italic:      RobotoBoldCondensedItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-bold-italic:      			RobotoBoldItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-condensed:      			RobotoCondensed, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-condensed-italic:      		RobotoCondensedItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-italic:      				RobotoItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-light:      				RobotoLight, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-light-italic:      			RobotoLightItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-medium:      				RobotoMedium, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-medium-italic:      		RobotoMediumItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-thin:      					RobotoThin, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-thin-italic:      			RobotoThinItalic, "Helvetica Neue", Arial, sans-serif !default;

$font-family-default: $font-family-roboto !default;

// colors

$oc-black-light: #1a1816;
$oc-black: #040006;
$oc-yellow: #f5dc00;
$oc-yellow-medium: #f7d600;
$oc-yellow-dark: #fbd004;
$oc-black-medium: #020202;
$oc-gray: #9e9e9e;
$oc-black-dark: #030104;
$oc-medium-dark: #727176;
$oc-black-regular: #161309;
$oc-gray-dark: #423f40;
$oc-black-thin: #202020;
$oc-gray-regular: #d8d9dd;
$oc-gray-black: #1f1813;
$oc-gray-light: #ededed;
$oc-gray-lighter: #a09f9f;
$oc-gray-thin: #626262;
$oc-black-lighter: #444242;
$oc-light-blue: #209BD7;
$oc-fb: #0a4190;
$oc-twitter: #76aadb;
$oc-dark-blue: #121f2a;
$oc-black-normal: #211915;
$oc-doit: #292a33;