footer#main-footer
	.wrapper-footer
		.container
			.row
				.col-12.col-md-3.d-none.d-md-block
					.nav-footer-logo.d-flex.align-items-center.justify-content-center.menu-logo
						a(href="./")
							include ./logo.pug
				.col-12.col-md-6
					.d-flex.justify-content-center
						.list-footer-info
							.info-detail.info-address
								.info-content.d-flex.align-items-center
									p Av. Contralmirante Montero Nº 421 Of. 6D
										br
										| Magdalena del Mar
							.info-detail.info-phone
								.info-content.d-flex.align-items-center
									p
										a(href="tel:+51968212887") (51) 968 212 887
							.info-detail.info-mail
								.info-content.d-flex.align-items-center
									p
										a(href="mailto:contacto@origamicowork.com") contacto@origamicowork.com
							.info-detail.info-web
								.info-content.d-flex.align-items-center
									p
										a(href="http://www.origamicowork.com") origamicowork.com
				.col-12.col-md-3.d-none.d-md-block
					.social-content.d-flex.align-items-center.justify-content-center
						ul.social-links
							li
								a(href="#",target="_blank")
									include ./icons/facebook.pug
							li
								a(href="#",target="_blank")
									include ./icons/twitter.pug
							li
								a(href="#",target="_blank")
									include ./icons/instagram.pug
							li
								a(href="#",target="_blank")
									include ./icons/linkedin.pug
							li
								a(href="#",target="_blank")
									include ./icons/google-plus.pug

include ./scripts.pug