footer#main-footer
	.wrapper-footer
		.container
			.row
				.col-12.col-md-4.d-none.d-md-block
					| 1
				.col-12.col-md-4
					| 1
				.col-12.col-md-4.d-none.d-md-block
					| 1

include ./scripts.pug