@font-face {
    src: url("../fonts/Antonio-Regular.ttf") format("truetype");
    font-family: AntonioRegular;
    font-weight: normal;
}

@font-face {
    src: url("../fonts/Antonio-Bold.ttf") format("truetype");
    font-family: AntonioBold;
    font-weight: bold;
}

@font-face {
    src: url("../fonts/Antonio-Light.ttf") format("truetype");
    font-family: AntonioLight;
    font-weight: lighter;
}

@font-face {
    src: url("../fonts/High-Tide.ttf") format("truetype");
    font-family: HighTide;
}

@font-face {
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-family: RobotoBlack;
    font-weight: bold;
}

@font-face {
    src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-family: RobotoBlackItalic;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-family: RobotoBold;
    font-weight: bold;
}

@font-face {
    src: url("../fonts/Roboto-BoldCondensed.ttf") format("truetype");
    font-family: RobotoBoldCondensed;
    font-weight: bold;
}

@font-face {
    src: url("../fonts/Roboto-BoldCondensedItalic.ttf") format("truetype");
    font-family: RobotoBoldCondensedItalic;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-family: RobotoBoldItalic;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
    font-family: RobotoCondensed;
}

@font-face {
    src: url("../fonts/Roboto-CondensedItalic.ttf") format("truetype");
    font-family: RobotoCondensedItalic;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
    font-family: RobotoItalic;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-family: RobotoLight;
    font-weight: lighter;
}

@font-face {
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
    font-family: RobotoLightItalic;
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-family: RobotoMedium;
}

@font-face {
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-family: RobotoMediumItalic;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-family: RobotoRegular;
    font-weight: normal;
}

@font-face {
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-family: RobotoThin;
}

@font-face {
    src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-family: RobotoThinItalic;
    font-style: italic;
}

@font-face {
    src: url("../fonts/Javacom.otf") format("opentype");
    font-family: Javacom;
}