#benefits-main {
	.wrap-benefits {
		.top-benefits {
			padding-top: 30px;
			text-align: center;
			h2 {
				font-family: $font-family-high-tide;
				font-size: 35px;
				color: black;
			}
			@include media-breakpoint-up(lg) {
				padding-top: 60px;
				h2 {
					font-size: 54px;
				}
			}
		}
		.boxes-benefits {
			padding: 20px 0 0;
			@include media-breakpoint-up(lg) {
				padding: 35px 0 40px;
			}
			.box-benefit {
				-ms-flex: 0 0 20%;
				-webkit-flex: 0 0 20%;
				-moz-flex: 0 0 20%;
				flex: 0 0 20%;
				max-width: 20%;
				display: none;
				figure {
					margin: 0 auto;
					max-width: 140px;
					text-align: center;
					img {
						display: block;
						margin: 0 auto;
						// max-width: 140px;
						// height: 140px;
						width: 100%;
					}
					figcaption {
						margin-top: 15px;
						font-size: 10px;
						color: black;
						font-family: $font-family-roboto-bold;
						text-transform: uppercase;
					}
				}
				&.main-benefit {
					display: block;
					-ms-flex: 0 0 100%;
					-webkit-flex: 0 0 100%;
					-moz-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					figure {
						width: 100%;
						max-width: none;
						img {
							max-width: 211px;
						}
					}
					ul {
						padding: 0 20px;
						li {
							list-style: outside disc;
							font-family: $font-family-roboto-light;
							font-size: 12px;
							color: $oc-gray-black;
						}
					}
				}
				@include media-breakpoint-up(lg) {
					display: block;
					&.main-benefit {
						-ms-flex: 0 0 20%;
						-webkit-flex: 0 0 20%;
						-moz-flex: 0 0 20%;
						flex: 0 0 20%;
						max-width: 20%;
						figure {
							position: absolute;
							left: 0;
							right: 0;
						}
					}
					figure {
						margin: 30px auto;
					}
				}
			}
		}
	}
}