#comunity-section {
    .wrapper-comunity {
        position: relative;
        padding: 60px 0 130px;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            background-image: url('../images/bg-comunity.png');
            @include media-breakpoint-up(md) {
                height: 127px;
            }
        }
        .top-comunity {
            text-align: center;
            margin-bottom: 30px;
            h3 {
                color: black;
                font-size: 40px;
                font-family: $font-family-high-tide;
                @include media-breakpoint-up(md) {
                    font-size: 60px;
                }
            }
        }
        .body-comunity {
            width: 350px;
            margin: 0 auto;
            @include media-breakpoint-up(md) {
                width: 470px;
            }
            @include media-breakpoint-up(xl) {
                width: 1100px;
            }
        }
        #comunity-slider {
            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 350px;
                height: 300px;
                position: relative;
                .slider-room-content {
                    text-align: center;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 25px;
                    padding: 0 40px;
                    p, h4 {
                        color: white;
                    }
                    p {
                        font-size: 15px;
                        font-family: $font-family-roboto-italic;
                    }
                    h3 {
                        font-size: 18px;
                        font-family: $font-family-antonio-bold;
                    }
                }
                @include media-breakpoint-up(md) {
                    width: 470px;
                    height: 400px;
                    .slider-room-content {
                        p, h4 {
                            // color: white;
                        }
                    }
                }
            }
        }
    }
}