#contact-section {
	.bg-contact {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		background-image: url('../images/bg-contact.jpg');
		.wrapper-contact {
			width: 80%;
			margin: 0 auto;
			@include media-breakpoint-up(md) {
				width: 500px;
			}
		}
	}
}

#main-contact {
	padding: 60px 0 30px;
	.top-contact {
		text-align: center;
		h4 {
			font-size: 25px;
			font-family: $font-family-antonio;
			color: white;
		}
	}
	.body-contact {
		margin-top: 60px;
		.form-group {
			margin-bottom: 1.25rem;
		}
	}
	.form-control-label {
		color: white;
		font-family: $font-family-antonio;
		font-size: 16px;
	}
	@include media-breakpoint-up(md) {
		padding: 100px 0 60px;
		.top-contact {
			h4 {
				font-size: 36px;
			}
		}
	}
}