#main-footer {
	background-color: black;
	padding: 60px 0;
	.list-footer-info {
		text-align: left;
		float: left;
		.info-detail {
			position: relative;
			padding-left: 60px;
			height: 47px;
			margin-top: 15px;
			background-position: left center;
			background-repeat: no-repeat;
			&:first-child {
				margin-top: 0;
			}
			.info-content {
				height: 100%;
			}
			&.info- {
				&#{address} {
					background-image: url('../images/address.png');
				}
				&#{phone} {
					background-image: url('../images/phone.png');
				}
				&#{mail} {
					background-image: url('../images/mail.png');
				}
				&#{web} {
					background-image: url('../images/chrono.png');
				}
			}
			p, a {
				font-size: 10px;
				font-family: $font-family-roboto-light;
				color: white;
				@include media-breakpoint-up(md) {
					font-size: 16px;
				}
			}
			a {
				@include transition(.5s);
				&:hover {
					color: rgba(white, .8);
					text-decoration: underline;
				}
			}
		}
	}
	.nav-footer-logo {
		height: 100%;
		a {
			img, svg {
				width: 116px;
			}
		}
	}
	.social-content {
		height: 100%;
		.social-links {
			text-align: right;
			width: 104px;
			@include media-breakpoint-up(lg) {
				width: 156px;
			}
			.social-link {
				display: inline-block;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				background-color: $oc-yellow;
				margin: 6px;
				text-align: center;
				@include transition(.5s);
				i {
					color: black;
					font-size: 25px;
					line-height: 40px;
				}
				&:hover {
					background-color: $oc-black;
					i {
						color: $oc-yellow;
					}
				}
			}
		}
	}
}