.me-apunto {
	.modal-content-apunto {
		padding: 20px 30px;
	}
}

#me-apunto-form {
	.top-me-apunto {
		padding-top: 20px;
		text-align: center;
		h4 {
			font-family: $font-family-high-tide;
			font-size: 50px;
			color: $oc-black;
		}
	}
	.body-me-apunto {
		padding-top: 50px;
		label {
			font-family: $font-family-antonio;
		}
	}
}