.navbar-custom {
	width: 100%;
	li {
		&.nav-item {
			a {
				&.nav-link {
					font-size: 18px;
					color: white;
					font-family: $font-family-antonio-light;
					text-transform: uppercase;
					padding-left: 1em;
					padding-right: 1em;
					color: rgba(white, .8);
					img, svg {
						width: 116px;
					}
				}
			}
			&.nav-active {
				a {
					&.nav-link {
						font-size: 22.5px;
						font-family: $font-family-antonio-bold;
						padding-top: .189em;
						padding-bottom: .189em;
					}
				}
			}
			&.menu-logo {
				margin-bottom: 25px;
				@include media-breakpoint-up(md) {
					margin-bottom: 0;
					left: 20px;
					position: absolute;
					top: 0;
				}
				@include media-breakpoint-up(lg) {
					left: 100px
				}
				a {
					&.nav-link {
						padding: 0;
					}
				}
			}
		}
	}
	&.navbar-dark {
		li {
			&.nav-item {
				a {
					&.nav-link {
						color: black;
						&:hover {
							color: rgba(black, .6);
						}
					}
				}
			}
		}
	}
}