.navbar-custom {
	width: 100%;
	li {
		&.nav-item {
			a {
				&.nav-link {
					font-size: 18px;
					color: white;
					font-family: $font-family-antonio-light;
					text-transform: uppercase;
					padding-left: 1em;
					padding-right: 1em;
				}
			}
			&.menu-logo {
				margin-bottom: 25px;
				@include media-breakpoint-up(md) {
					margin-bottom: 0;
					left: 20px;
					position: absolute;
					top: 0;
				}
				@include media-breakpoint-up(lg) {
					left: 100px
				}
				a {
					&.nav-link {
						padding: 0;
					}
				}
			}
		}
	}
}