#pills-about {
	height: 100%;
	.pill-content {
		height: 100%;
		width: 100%;
	}
	.pill-bg {
		height: calc(100% - 330px);
		@include media-breakpoint-up(md) {
			height: 100%;	
		}
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 1;
		width: 100%;
	}
}

#pills-tab-about {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 300px;
	z-index: 2;
	background-color: white;
	height: 30px;
	@include media-breakpoint-up(md) {
		background-color: transparent;
		bottom: 50px;
	}
	.pill-tab {
		width: 33.33%;
		text-align: center;
		line-height: 30px;
		@include media-breakpoint-up(md) {
			width: 300px;
		}
		a {
			padding: .5em 1em;
			line-height: 27px;
			font-size: 12px;
			font-family: $font-family-antonio-bold;
			color: rgba(black, .6);
			@include transition(.5s);
			&.active, &:hover {
				font-size: 12px;
				color: black;
			}
			@include media-breakpoint-up(md) {
				font-size: 22.5px;
				&.active, &:hover {
					font-size: 27px;
				}
			}
		}
	}
}

.flow-about {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 300px;
	z-index: 2;
	padding: 20px 30px;
	@include media-breakpoint-up(md) {
		bottom: auto;
		height: auto;
		width: 70%;
		top: 50%;
		padding: 50px 0 50px 80px;
		@include transform(translate(0, -50%));
	}
	@include media-breakpoint-up(lg) {
		width: 50%;
	}
	&:after {
		content: "";
		position: absolute;
		left: -200px;
		right: -75px;
		bottom: 0;
		top: 0;
		background-color: $oc-yellow;
		z-index: 1;
		@include media-breakpoint-up(md) {
			@include transform(skew(-30deg));
		}
	}
	.wrapper-flow-about {
		position: relative;
		z-index: 2;
		img.about-img {
			width: 80px;
			margin: 0 auto;
			display: block;
		}
		.content-flow-about {
			text-align: center;
			margin-top: 15px;
			p {
				font-family: $font-family-roboto-italic;
				font-size: 12px;
				color: black;
			}
		}
		@include media-breakpoint-up(md) {
			img.about-img {
				position: absolute;
				top: 50%;
				margin-top: -40.5px;
				width: 113px;
				height: 81px;
			}
			.content-flow-about {
				margin-left: 130px;
				margin-top: 0;
				text-align: left;
				p {
					font-size: 15px;
				}
			}
		}
	}
}