#main-comunity {
    padding-top: 60px;
    @include media-breakpoint-up(md) {
        padding-top: 0;
    }
    .swiper-container {
        width: 100%;
        // height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .line-comunity {
        min-height: 50px;
        background-color: $oc-gray-lighter;
        text-align: center;
        h4 {
            font-size: 22.5px;
            font-family: $font-family-antonio;
            color: white;
            line-height: 50px;
            letter-spacing: 3px;
        }
    }
    .boxes-comunity {
        background-color: $oc-yellow;
        padding: 65px 0;
        .box-comunity {
            margin: 25px 0;
            img {
                display: block;
                width: 100%;
                max-width: 219px;
                margin: 0 auto;
            }
        }
    }
    .main-feed {
        .feed-img {
            img {
                width: auto;
                max-width: 440px;
                margin: 0 auto;
                display: block;
                height: 250px;
            }
            @include media-breakpoint-up(md) {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .feed-content {
            .feed-wrap {
                text-align: center;
                padding: 15px 0 60px; 
                @include media-breakpoint-up(md) {
                    padding: 50px 50px 0;
                    text-align: left;
                }
                .feed-top {
                    margin-bottom: 15px;
                    h2 {
                        font-family: $font-family-high-tide;
                        font-size: 50px;
                        color: black;
                    }
                    @include media-breakpoint-up(md) {
                        margin-bottom: 30px;
                    }
                }
                .feed-body {
                    margin-bottom: 10px;
                    p {
                        color: $oc-black;
                        font-size: 18px;
                        font-family: $font-family-roboto;
                    }
                    @include media-breakpoint-up(md) {
                        margin-bottom: 30px;
                    }
                }
                .feed-name {
                    margin-bottom: 20px;
                    h3 {
                        font-family: $font-family-antonio-bold;
                        font-size: 45px;
                    }
                    h5 {
                        font-family: $font-family-antonio-light;
                        font-size: 22.5px;
                        color: $oc-gray-thin;
                    }
                }
                .feed-social {
                    .feed-ico {
                        width: 40px;
                        height: 40px;
                        background-color: $oc-yellow-medium;
                        text-align: center;
                        margin-right: 10px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        @include transition(.5s);
                        border: 1px solid transparent;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                            background-color: white;
                            border-color: $oc-yellow-medium;
                            i {
                                color: $oc-yellow-medium;
                            }
                        }
                        i {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

#gallery-comunity {
    width: 100%;
    @include media-breakpoint-up(md) {
        margin-bottom: 100px;
    }
    .swiper-button-prev, .swiper-button-next {
        height: 25px;
        top: 125px;
        margin-top: -12.5px;
    }
}

.wrap-comunity-thumbs {
    padding: 0 60px;
    position: relative;
    @include media-breakpoint-up(lg) {
        padding: 0 120px;
    }
    .swiper-button-prev, .swiper-button-next {
        height: 20px;
        top: 50px;
        margin-top: -10px;
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
    &:after {
        content: "";
        left: 0;
        right: 0;
        top: 50px;
        border-bottom: 1px solid $oc-black;
        position: absolute;
    }
}

#gallery-comunity-thumbs {
    height: 150px;
    box-sizing: border-box;
    position: relative;
    .thumb-feed {
        width: 25%;
        height: 96px;
        &.swiper-slide-active {
            .feed-thumb-content {
                .feed-thumb-img {
                    background-color: $oc-yellow;
                }
            }
        }
        .feed-thumb-content {
            max-width: 116px;
            margin: 0 auto;
            .feed-thumb-img {
                border-radius: 50%;
                width: 96px;
                height: 96px;
                padding: 5px;
                background-color: $oc-gray-thin;
                img {
                    width: 100%;
                }
            }
            .feed-thumb-name {
                margin-top: 10px;
                text-align: center;
                h5 {
                    font-family: $font-family-antonio-bold;
                    font-size: 13.5px;
                    color: $oc-black-lighter;
                }
            }
        }
    }
    .swiper-slide-active {
        opacity: 1;
    }
    .swiper-wrapper{
      margin-left: -37.5%;
    }
}