#main-slider {
    height: 250px;
    @include media-breakpoint-up(md) {
        height: 100%;
    }
    .main-banner-bg {
        height: 100%;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        .main-banner-content {
            position: absolute;
            bottom: 45px;
            width: 100%;
            color: white;
            text-align: center;
            @include media-breakpoint-up(md) {
                text-align: right;
                right: 100px;
                width: 550px;
                bottom: 40px;
            }
            h3 {
                font-family: $font-family-antonio-bold;
                font-size: 30px;
            }
            p {
                font-family: $font-family-antonio;
                font-size: 22.5px;
            }
        }
    }
}

.content-slider-room {
    position: relative;
    height: 500px;
    width: 100%;
}

#slider-room {
    height: 100%;
    width: 100%;
    .slide-room {
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        height: 500px;
        .slider-room-content {
            padding: 50px;
            text-align: right;
            h4, p {
                -webkit-text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
                -moz-text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
                -ms-text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
                -o-text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
                text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
            }
            h4 {
                color: #fff;
                font-family: $font-family-antonio-bold;
                font-size: 22.5px;
            }
            p {
                color: #fff;
                font-family: $font-family-antonio;
                font-size: 18px;
            }
        }
    }
}

#slider-room-thumbs {
    position: absolute;
    height: 100px;
    bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    // padding: 30px 0;
    .slick-list {
        margin: 0 30px;
    }
    .slick-slide {
        opacity: 0.4;
        &.slick-current {
            opacity: 1;
            .slide-thumbnail-wrapper {
                .swiper-slide-thumb {
                    filter: #{"grayscale(0%)"};
                }
            }
        }
    }
    .slide-thumbmail {
        position: relative;
        padding: 0 6px;
        .slide-thumbnail-wrapper {
            padding: 3px;
            background-color: white;
            height: 94px;
            .swiper-slide-thumb {
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                filter: #{"grayscale(100%)"};
            }
        }
    }
}

#main-section {
    position: relative;
    z-index: 1;
}

#review-section {
    padding: 0 25px;
    @include media-breakpoint-up(lg) {
        padding: 0 70px;
    }
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 67px;
        background-repeat: no-repeat;
    }
    @include media-breakpoint-up(lg) {
        &:before {
            background-image: url("../images/left-review.png");
            left: 0;
            background-position: left center;
        }
        &:after {
            background-image: url("../images/right-review.png");
            right: 0;
            background-position: right center;
        }
    }
    .wrapper-review {
        height: 150px;
        @include media-breakpoint-up(lg) {
            height: 400px;
        }
    }
    .content-review {
        text-align: center;
        @include media-breakpoint-up(lg) {
            text-align: left;
        }
        p {
            color: black;
            font-size: 12px;
            font-family: $font-family-roboto-light;
            @include media-breakpoint-up(lg) {
                font-size: 21px;
            }
            b {
                font-family: $font-family-roboto-bold;
            }
        }
    }
    .list-review {
        .list-cont-review {
            text-align: center;
        }
        img {
            width: 141px;
            margin-bottom: 15px;
        }
        p {
            text-transform: uppercase;
            color: black;
            font-size: 14px;
            font-family: $font-family-roboto-bold;
        }
    }
}