doctype html
html(lang='es')
    include includes/head.pug
    body
        include includes/header.pug

        section#main-comunity.fluid-secion
            .full-page
                .container
                    #gallery-comunity
                        mixin feed(val)
                            .main-feed
                                .row.no-gutters
                                    .col-12.col-md-4.feed-img
                                        img(src="../images/feed1.jpg")
                                    .col-12.col-md-8.feed-content
                                        .feed-wrap
                                            .feed-top
                                                h2= 'Sed ut perspiciatis unde omnis iste natus ' + val
                                            .feed-body
                                                p Ectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                            .feed-name
                                                h3 Micaela A.
                                                h5 MARKETING DIGITAL
                                            .feed-social
                                                a.feed-ico(href="#")
                                                    i.fa.fa-facebook
                                                a.feed-ico(href="#")
                                                    i.fa.fa-twitter
                                                a.feed-ico(href="#")
                                                    i.fa.fa-instagram
                                                a.feed-ico(href="#")
                                                    i.fa.fa-linkedin
                                                a.feed-ico(href="#")
                                                    i.fa.fa-google-plus

                        each val in [1, 2, 3, 4, 5, 6, 7]
                            +feed(val)

                        //- .swiper-button-next.swiper-button-black.d-block.d-md-none
                        //- .swiper-button-prev.swiper-button-black.d-block.d-md-none

                    .wrap-comunity-thumbs.d-none.d-md-block
                        #gallery-comunity-thumbs.slick-button-black
                            mixin thumb-feed(val)
                                .thumb-feed
                                    .feed-thumb-content
                                        .feed-thumb-img
                                            figure
                                                img(src="../images/thumb-comu-3.png")
                                        .feed-thumb-name
                                            h5= 'Leonardo ' + val
                            each val in [1, 2, 3, 4, 5, 6, 7]
                                +thumb-feed(val)

                        //- .swiper-button-next.swiper-button-black
                        //- .swiper-button-prev.swiper-button-black

            .line-comunity
                h4 COMUNIDAD DE EMPRENDEDORES
            .boxes-comunity
                .container
                    .row
                        .col-6.col-md-4.box-comunity
                            img(src="./images/comu1.png")
                        .col-6.col-md-4.box-comunity
                            img(src="./images/comu2.png")
                        .col-6.col-md-4.box-comunity
                            img(src="./images/comu3.png")
                        .col-6.col-md-4.box-comunity
                            img(src="./images/comu4.png")
                        .col-6.col-md-4.box-comunity
                            img(src="./images/comu5.png")
                        .col-6.col-md-4.box-comunity
                            img(src="./images/comu6.png")


        include includes/footer.pug
        script(src="js/comunidad.js",type="text/javascript")